.home-header {
  margin: 2rem 0;

  h1 {
    font-weight: 700;
    font-size: 1.5rem;
    cursor: pointer;
    display: inline-block;
  }

  &.home {
    margin: 16rem 0;

    h1 {
      font-size: 5rem;
    }
  }
}
