.loading-container {
  background: #fff1f0;
  border: 1px solid #ffa39e;
  padding: 0.8rem 1rem;
  position: fixed;
  top: 1rem;
  min-width: 10rem;
  right: 1rem;
  border-radius: 0.2rem;
  text-align: center;
}
