.blog-container .post.blog-post .top {
  h2:hover {
    text-decoration: none !important;
  }

  @media screen and (max-width: 768px) {
    h2 {
      font-size: 1.3rem;
      font-weight: 600;
      line-height: 1.8rem;
    }

    p {
      font-size: 0.9rem;
      color: #999;
      padding: 0.5rem 0;
    }
  }
}
